*{
    margin: 0%;
    padding: 0%;

}
body{
    background-color: aqua;
    margin: 40px;
    padding: auto;
}
.brass
.container{
    max-width: 50px;
    margin: 100px;
    margin-left: 500px;
    margin-top: 10px;
    color: brown;
    font-size: large;
}
  input{
   padding: 5px;
color: rgb(202, 181, 223);

  }
.submit {
    height: 30;
    width: 100;
    margin-top: 10px;
}


